    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&family=Noto+Serif+JP:wght@400;500;600&display=swap');

.font-noto {
    font-family: 'Noto Sans JP', sans-serif;
}
.font-notoserif {
    font-family: 'Noto Serif JP', serif;
}

h1 {
    color:#fff;
    font-size: 50px;
    font-family: 'Noto Sans JP', sans-serif;
}

h3 {
    font-size: 70px;
    font-family: 'Noto Serif JP', serif;
    color: #233253;
}

#bg-resto {
    background-color: #c0e1f3;
    padding: 15px 0;
    background-image: url(./data/snow1.png), url(./data/snow2.png), url(./data/snow3.png);  
    animation: snow 20s linear infinite;
}     
@keyframes snow {
    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
    100% {background-position: 500px 1000px, 400px 400px, 300px 300px}
}

.resto-body {
    max-width: 990px;
    background: #fff;
    margin: 50px auto;
    border-radius: 20px;
    box-shadow: 1px 1px 25px rgb(0 0 0 / 35%);
    z-index: 5;
}

#top {
    background-image: url(./data/png-transparent-hardwood-wood-stain-varnish-wood-flooring-wood-texture-brown-wood-material.png);
    background-position: center;
    min-height: 990px;
    position: relative;
    align-items: center;
    justify-content: end;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    z-index: 5;
    box-shadow: 0px 6px 13px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 6px 13px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 13px -1px rgba(0,0,0,0.75);;
}
.banner{
    background-image: url(./data/Group\ 1.png);
    background-repeat: no-repeat;
    padding-top: 0;
    min-height: 669px;
    position: relative;
    display: inline-block;
    justify-content: end;
    align-items: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.title img {
    width: 992px;
    height: 350px;
}

.food-img-top {
    display: flex;
    justify-content: space-around;
    padding-left: 50px;
    padding-right: 50px;
}

.food-1 img {
    width: 247px;
    height: 200px;
}

.food-2 img {
    width: 235px;
    height: 235px;
}

.food-3 img {
    width: 230px;
    height: 230px;
}

.special-menu {
    display: block;
    justify-content: center;
}

.special-menu h1 {
    text-align: center;
    text-shadow: 0px 3px 3px rgba(51, 52, 57, 1);
}

.buttons {
    display: flex;
    justify-content: space-around;
    padding-left: 40px;
    padding-right: 40px;
}

.buttons .karee {
    text-decoration: none;
    font-family: 'Noto Sans JP', sans-serif;
    background-image: url(./data/button\ 1.png);
    background-size: cover;
    font-weight: 700;
    padding: 20px 50px;
    font-size: 25px;
    color: #fff;
    border-radius: 20px;
    box-shadow: -1px 5px 26px -2px rgba(0,0,0,0.42);
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.karee:hover, .karee:focus, .karee:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    filter: drop-shadow(0 20px 20px rgba(0, 0, 0, 0.70));
}

.buttons .ramen {
    text-decoration: none;
    font-family: 'Noto Sans JP', sans-serif;
    background-image: url(./data/button\ 2.png);
    background-size: cover;
    font-weight: 700;
    padding: 20px 50px;
    font-size: 25px;
    color: #fff;
    border-radius: 20px;
    box-shadow: -1px 5px 26px -2px rgba(0,0,0,0.42);
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.ramen:hover, .ramen:focus, .ramen:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    filter: drop-shadow(0 20px 20px rgba(0, 0, 0, 0.70));
}

.buttons .hitsu {
    text-decoration: none;
    font-family: 'Noto Sans JP', sans-serif;
    background-image: url(./data/button\ 3.png);
    background-size: cover;
    font-weight: 700;
    padding: 20px 50px;
    font-size: 25px;
    color: #fff;
    border-radius: 20px;
    box-shadow: -1px 5px 26px -2px rgba(0,0,0,0.42);
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.hitsu:hover, .hitsu:focus, .hitsu:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    filter: drop-shadow(0 20px 20px rgba(0, 0, 0, 0.70));
}


.mid {
    background-image: url(./data/web-ozora-resto_02.jpg);
    background-repeat: no-repeat;
    min-height: 2350px;
    position: relative;
    align-items: center;
    justify-content: end;
}

#menu {  
    max-width: 850px;
    margin: 0 auto;
    padding-top: 90px;
    position: relative;
    z-index: 5;
    display: block;
    justify-content: center;
}

#karee{
    background-image: url(./data/listbox-karee.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 45px;
    display: block;
    padding: 40px 35px;
    margin-top: 110px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    box-sizing: border-box;
    height: 550px;
    width: 850px;
    position: relative;
}

.menu-title {
    position: absolute;
    top: -70px;
    display: block;
    width: 615px;
    margin-left: 80px;
    margin-right: auto;
}

.menu-display {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.description p {
    font-size: 18px;
    font-family: 'Noto Sans JP', sans-serif;
    color: #d9dced;
    font-weight: 700;
    text-align: left;
    margin-left: 40px;
}

#karee .description p {
    font-size: 16px;
}
#karee .description blockquote {
    font-size: 20px;
}

.description blockquote {
    margin-top: 60px;
    margin-right: 20px;
}

.description blockquote p {
    color: #233253;
    margin: 0;
    text-align: justify;
    line-height: 36px;
}

.food-image img {
    transition: all 0.3s;
}
.food-image:hover img {
    transform: rotate(90deg);
}

#ramen {
    background-image: url(./data/listbox-ramen.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 45px;
    display: block;
    padding: 40px 35px;
    margin-top: 170px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    box-sizing: border-box;
    height: 550px;
    width: 850px;
    position: relative;
}

#hitsumabushi{
    background-image: url(./data/listbox-hitsu.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 45px;
    display: block;
    padding: 40px 35px;
    margin-top: 170px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    box-sizing: border-box;
    height: 550px;
    width: 850px;
    position: relative;
}

.third-menu> .food-image:hover img {
    transition: all 0.3s;
}
.food-image:hover img {
    transform: rotate(20deg);
}

#bottom {
    background-image: url(./data/png-transparent-hardwood-wood-stain-varnish-wood-flooring-wood-texture-brown-wood-material.png);
    background-position: center;
    min-height: 550px;
    position: relative;
    align-items: center;
    justify-content: end;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 5;
    box-shadow: -1px -5px 15px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px -5px 15px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px -5px 15px -1px rgba(0,0,0,0.75);
}

.coupon {
    max-width: 990px;
    display: flex;
    justify-content: center;    
}

.coupon img {
    margin-top: 40px;
    pointer-events: none;
    transition-property: transform;
    transition-duration: .3s;
}
.coupon:hover img {
    transform: rotate(-3deg) scale(1.1) translateZ(0);
    -webkit-filter: drop-shadow(0 20px 20px  rgba(0, 0, 0, 0.70));
    filter: drop-shadow(0 20px 20px rgba(0, 0, 0, 0.70));
}

.access {
    background-image: url(./data/bottom.png);
    background-size: cover;
    min-height: 300px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#kana {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    padding-top: 50px;
    position: relative;
    z-index: 5;
}

.access p {
    font-size: 24px;
    color: rgb(209, 209, 209);
    font-family: 'Noto Serif JP', serif;
    margin-left: 45px;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 5px;
}


@media only screen and (max-width: 768px) {
    #bg-resto {
        width: 750px;

    }
    .resto-body {
        max-width: 990px;
    }
    #top {
        min-height: 700px;
    }
    .banner {
        max-width: 750px;
        background-position: center;
        background-size: cover;
        min-height: 550px;
    }
    .title img {
        width: 750px;
        height: 300px;
    }
    .food-1 img {
        width: 200px;
        height: 170px;
    }
    .food-2 img {
        width: 200px;
        height: auto;
    }
    .food-3 img {
        width: 200px;
        height: auto;
    }
    h1 {
        font-size: 35px;
    }
    .buttons .karee {
        font-size: 18px;
    }
    .buttons .ramen {
        font-size: 18px;
    }
    .buttons .hitsu {
        font-size: 18px;
    }
    .buttons {
        padding-bottom: 20px;
    }
    .mid {
        min-height: 2080px;
    }
    #menu {
        max-width: 750px;
        padding-top: 55px;
        margin-left: 20px;
        margin-right: 20px;
    }
    #karee {
        width: 710px;
        height: 500px;
    }
    .menu-title {
        margin-left: 20px;
    }
    .menu-display {
        margin-top: 70px;
    }
    .food-image img {
        width: 300px;
        height: auto;
    }
    #karee .description p {
        font-size: 13px;
    }
    #karee .description blockquote {
        font-size: 13px;
    }
    #ramen {
        width: 710px;
        height: 500px;
        margin-top: 150px;
    }
    #hitsumabushi {
        width: 710px;
        height: 500px;
        margin-top: 150px;
    }
    .description p {
        font-size: 13px;
    }
    .description blockquote {
        font-size: 13px;
    }
    #hitsumabushi .description p {
        font-size: 13px;
    }
    .coupon {
        max-width: 768px;
    }
    .coupon img {
        width: 700px;
        height: auto;
        margin-top: 30px;
    }
    #kana {
        padding-top: 30px;
    }
    #kana img {
        width: 200px;
        height: auto;
    }
    .access p {
        font-size: 20px;
    }
    .access {
        min-height: 250px;
    }
    #bottom {
        min-height: 450px;
    }
}

@media only screen and (max-width: 425px) {
    .resto-body {
        margin-right: 10px;
    }
    .banner {
        margin-right: 10px;
        width: 740px;
    }
    .title img {
        width: 740px;
    }
}

